<header class="header">
	<nav class="navClient navbar navbar-expand fixed-top navbar-light bg-light">

	  <div class="container">
	  <a class="navbar-brand" href="#">
		<img src="images/logo-engage.png" alt="KV Engage Investimentos">
		<img src="images/xp-logo.png" alt="XP Investimentos" class="logo-sec">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navClient" aria-controls="navClient" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
		
	  <div class="collapse navbar-collapse" id="navClient">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="quem-somos.htmk">Quem Somos</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="produtos.html">Produtos</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="equipe.html">Equipe</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#" target="_blank">Acesse sua Conta</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="contato.html">Contato</a>
	      </li>
	    </ul>	    
	  </div>	
	  </div>		  		

	</nav> 	
</header>