//Fonts
@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap);
//Colors
$orange   : #FA8B06;
$orange-2 : #E6A207;
$yellow   : #FFDB41;
$yellow-50: rgba(255, 219, 65, 0.5);
$white	  : #FFFFFF;
$gray  	  : #FCFCFC;
$gray-2   : #F4F4F4;
$gray-3   : #EFEFEF;
$gray-4   : #CAD7DD;
$blue     : #004463;
$blue-2   : #172247;
$blue-3   : #4267B2;
$green    : #98D235;
$red      : #AD2929;
$red-2    : #D23535;

//Mixins Border-radius
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

//shadow
@mixin box-shadow () {
	box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075) !important;
}

//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $blue !important;  
  font-size: 1.0rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $blue !important;  
  font-size: 1.0rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $blue !important;  
  font-size: 1.0rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: $blue !important;  
  font-size: 1.0rem;
}


html,
body {
  height: 100%;
	font-family: 'Rubik', sans-serif;
}

//NavClient
.navClient {
  &.bg-light {
    background-color: $white !important;
    @include box-shadow();
  }
  .navbar-brand {
    img {
      height: 48px;
      width: auto;
      &.logo-sec {
        margin-left: 1.0rem;
      }
    }
  }
  .nav-link {
    color: $blue !important;
    font-weight: 400;
  }
}

//Footer
footer {
  p {
    color: $blue;
    font-size: 0.8rem;
    text-align: center;
  }
}

//Carosel home
.carousel,
.carousel-inner,
.item {
  height:100%;  
  .bg {
    background-repeat:no-repeat;
    background-size:cover;
    &.bg1 {
      position: relative;
      background-image:url('https://previews.123rf.com/images/jakobradlgruber/jakobradlgruber1503/jakobradlgruber150300197/38390927-bottom-view-of-modern-skyscrapers-in-business-district-at-sunset-with-lens-flare-filter-effect.jpg');
      background-position: center top;
      z-index: 1;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(39,62,84,0.80);
        overflow: hidden;      
        z-index: 2;
        top: 0;
        left: 0;
      }
    }    
  }
  .carousel-caption {
    bottom: 35%;
    text-align: left;
  }
}
//Media Queries
@import 'client_style_queries.scss';